# Virtual environments
venv/
.venv/
env/
.conda/

# Python cache
__pycache__/
*.pyc

# IDE
.idea/
*.iml

# Logs
logs/
*.log

# Data
data/
*.csv
*.db
*.sqlite3

# Models
*.pt
*.onnx
*.tflite

# OS
.DS_Store

# Env files
.env
